.idea
files
credentials
parameters
__pycache__
testing

# Airflow / Docker
.env
logs
plugins
dags

# Virtual environment
Pipfile
Pipfile.lock

# Terraform
*.terraform
*.hcl
*.tfstate
*.info
*.backup

# config files
*.ini
*.env