[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
requests = "*"
bs4 = "*"
pandas = "*"
psycopg2 = "*"
configparser = "*"
pathlib = "*"
apache-airflow = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
